body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(158, 140, 86);
  font-family: "Arial", sans-serif;
}

header {
  background-color: #fef2cf;
  color: rgb(112, 97, 54);
  padding: 10px;
  font-size: medium;
  display: flex;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: rgb(112, 97, 54);
  text-decoration: none;
  text-align: right;
}
.hero {
  font-style: italic;
  font-size: xx-large;
  font-family: Allura;
  color: #fef2cf;
  display: flex;
  justify-content: space-around;
}
.hero div {
  gap: 10px;
}

/* Menu */
.coffee-menu-container {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.coffee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  /* border: 1px solid #877749; */
  /* color: rgb(112, 97, 54); */

  border-radius: 15px;
  width: 400px;
  box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.5),
    5px 5px 5px 5px rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease, background-color 1s ease-in-out;
}

.coffee-container:hover {
  /* transform: translateY(-9px); */
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */

  background-color: #a5925a;
  box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0),
    5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.coffee-container img {
  padding: 5px;
  width: calc(60% - 10px);
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 10px;
}

.coffee-container p,
.coffee-container h2 {
  text-align: center;
}

.coffee-container h2 {
  margin-top: 10px;
}

.coffee-container h3 {
  margin-top: auto;
  margin-bottom: 10px;
}

.coffee-container p {
  font-size: 15px;
  margin: 10px;
}
